<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CoreID" value="" />
    <add key="CoreName" value="" />
    <add key="AccessToken" value= "" />
    <add key="UserName" value="christian.loris@gmail.com" />
    <add key="Password" value="" />
  </appSettings>
</configuration>